.parent-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 1rem;
  max-width: 100%;
}

hr {
  margin: 0.5rem 0;
}

.actions {
  display: flex;
  justify-content: space-between;
}
.project {
  padding: 1rem;
  border-radius: 10px;
  padding-right: 1rem;
  background-color: rgb(255, 255, 255) !important;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  overflow-y: auto;
  max-width: 300px;
}

.info {
  height: 20%;
}

.project-name {
  font-size: 1rem;
  font-weight: 500;
  width: 100%;
  overflow: hidden; /* Hide the overflowed text */
  text-overflow: ellipsis; /* Display ellipsis (...) */
  white-space: nowrap; /* Prevent text from wrapping to the next line */
}

.project-assignment {
  font-size: 0.9rem;
}

.agents-tasks-title {
  font-size: 1rem;
  font-weight: 500;
}

.agents-list {
  overflow-y: auto;
}
.agents,
.tasks {
  height: 40%;
  display: flex;
  flex-direction: column;
  // overflow-y: auto;
}

.agent {
  // height: 40%;
  max-height: 7.7rem;
  // background-color: blue;
  padding: 0.8rem;
  border: 1px solid black;
  border-radius: 10px;
  margin-top: 0.5rem;

  overflow: hidden;
  text-overflow: ellipsis;
  .agent-role {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 500;
    font-size: 0.9rem;
    margin-bottom: 0.4rem;
  }

  .agent-goal {
    font-weight: 300;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 0.8rem;
  }
}

.task-assigned-to {
  font-size: 0.8rem;
}

.assigned-agent {
  color: #3f51b5;
  font-weight: 500;
}
