<div class="parent-container">
  <div class="project info">
    <p class="project-name">{{ project.name }}</p>
    <hr />
    <div class="project-assignment">
      {{ project.assignment }}
    </div>
  </div>
  <!-- Agents Section -->
  <div class="project agents">
    <span class="agents-tasks-title">Agents:</span>
    <hr />
    <div>
      <div class="agent" *ngFor="let agent of agents">
        <div class="agent-role">Role: {{ agent.role }}</div>
        <div class="agent-goal">Goal: {{ agent.goal }}</div>
      </div>
    </div>
  </div>

  <!-- Tasks Section -->

  <div class="project tasks">
    <span class="agents-tasks-title">Tasks:</span>
    <hr />
    <div>
      <div class="agent" *ngFor="let task of tasksWithAgentRole">
        <div class="agent-role">Title: {{ task.name }}</div>
        <div class="task-assigned-to">
          Assigned to: <span class="assigned-agent">{{ task.agentRole }}</span>
        </div>
      </div>
    </div>
  </div>
</div>
