<div class="main-container">
  <div class="dialog-header">
    <h1>Choose the needed agents from your Staff:</h1>
  </div>
  <div class="dialog-content">
    <input type="text" placeholder="Search agents..." />
    <ng-container *ngIf="!isLoading; else loading">
      <div class="agents-list">
        <div
          class="agent-card"
          *ngFor="let agent of staffAgents"
          (click)="toggleSelection(agent)"
          [class.selected]="isSelected(agent)"
        >
          <div class="agent-info">
            <div class="details-wrapper">
              <div class="agent-details">
                <div class="agent-role">{{ agent.role }}</div>
              </div>
              <div class="agent-details">
                <div class="agent-goal" [class.selected]="isSelected(agent)">
                  {{ agent.goal }}
                </div>
              </div>
            </div>
            <div class="checkbox">
              <mat-checkbox
                [checked]="isSelected(agent)"
                (click)="$event.stopPropagation()"
                (change)="toggleSelection(agent)"
              ></mat-checkbox>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
    <ng-template #loading>
      <div class="loading-container">
        <mat-spinner diameter="20"></mat-spinner>
        <span>Loading agents...</span>
      </div>
    </ng-template>
  </div>
  <div class="dialog-actions">
    <button mat-stroked-button (click)="closeDialog()">Close</button>
    <button mat-flat-button color="primary" (click)="addSelectedAgents()">
      Add Selected Agents
    </button>
  </div>
</div>
