<div id="table-wrapper">
  <!-- Handsontable container -->
  <div #hotContainer id="hotContainer"></div>
</div>
<!-- <app-variable-popup
  [config]="popupConfig"
  (variableSelected)="onVariableSelected($event)"
></app-variable-popup> -->

<!-- POPUP -->
<!-- 
<div
  #popupElement
  class="popup-container"
  [style.top.px]="popupPosition.top"
  [style.left.px]="popupPosition.left"
  [style.visibility]="showPopup ? 'visible' : 'hidden'"
  (mousedown)="$event.preventDefault(); $event.stopPropagation()"
  (mouseup)="$event.preventDefault(); $event.stopPropagation()"
  (click)="$event.preventDefault(); $event.stopPropagation()"
>
  <div class="popup-content">
    <ul>
      <ng-container *ngIf="variables!.length > 0; else noVariables">
        <li
          *ngFor="let variable of variables"
          (click)="
            insertVariable(variable.title);
            $event.preventDefault();
            $event.stopPropagation()
          "
        >
          <div class="variable-title">{{ variable.title }}:</div>
          <div class="variable-value">{{ variable.value }}</div>
        </li>
      </ng-container>
    </ul>

    <ng-template #noVariables>
      <li>No variables added for this project</li>
    </ng-template>
  </div>
</div> -->
