<div class="tool-card" [ngClass]="{ disabled: !tool.enabled }">
  <div class="tool-header">
    <div class="tool-label">{{ tool.label }}</div>
    <div class="tool-controls">
      <!-- On/Off Toggle Switch -->
      <div class="tool-toggle">
        <label class="switch">
          <input
            type="checkbox"
            [checked]="tool.enabled"
            (change)="toggleEnabled()"
            (keydown.enter)="$event.preventDefault(); toggleEnabled()"
          />
          <span class="slider"></span>
        </label>
      </div>

      <div
        class="icon-wrapper"
        role="button"
        tabindex="0"
        (click)="toggleFavorite()"
        (keydown.space)="toggleFavorite(); $event.preventDefault()"
        (keydown.enter)="toggleFavorite()"
      >
        <mat-icon
          class="star-icon"
          [fontSet]="
            tool.favorite ? 'material-icons' : 'material-icons-outlined'
          "
        >
          {{ tool.favorite ? "star" : "star_outline" }}
        </mat-icon>
      </div>

      <button
        mat-icon-button
        class="configure-icon"
        (click)="onConfigureClick()"
      >
        <mat-icon>tune</mat-icon>
      </button>
      <button mat-icon-button class="delete-icon" (click)="onDeleteClick()">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </div>

  <div class="tool-logo-wrapper"></div>

  <div class="tool-name">{{ tool.name }}</div>
  <div class="tool-description">{{ tool.description }}</div>
</div>
