<div class="main-container">
  <div class="dialog-header">
    <div class="dialog-title">Tools Selector</div>
  </div>
  <div class="dialog-content">
    <div class="available-tools">
      <div class="section-title">Available Tools</div>
      <div class="tools-list">
        <div
          class="tool-item"
          *ngFor="let tool of tools"
          (click)="toggleSelection(tool)"
        >
          <!-- Checkbox binding with stopPropagation to prevent double toggling -->
          <mat-checkbox
            [checked]="isSelected(tool)"
            (change)="toggleSelection(tool)"
            (click)="$event.stopPropagation()"
            color="primary"
          >
          </mat-checkbox>
          <div class="tool-name">{{ tool.name }}</div>
        </div>
      </div>
    </div>

    <div class="selected-tools">
      <div class="section-title">Selected Tools</div>
      <div class="selected-tools-list">
        <div class="selected-tool-item" *ngFor="let tool of selectedToolsArray">
          <div class="tool-name">{{ tool.name }}</div>
          <mat-icon class="remove-icon" (click)="toggleSelection(tool)"
            >close</mat-icon
          >
        </div>
      </div>
    </div>
  </div>
  <div class="dialog-actions">
    <button mat-stroked-button (click)="onCancel()">Cancel</button>
    <button mat-flat-button color="primary" (click)="onConfirm()">
      Confirm
    </button>
  </div>
</div>
