<div class="tasks-section">
  <div class="header-container">
    <div class="header">Tasks</div>
    <button
      mat-raised-button
      color="primary"
      (click)="onOpenCreateTaskDialog()"
    >
      Add Task
    </button>
  </div>

  <div class="tasks-section-content">
    <app-project-tasks-table
      [tasks]="tasks"
      [agents]="agents"
      [projectId]="projectId"
      (taskCreated)="onTaskCreated($event)"
      (tasksDeleted)="onTasksDeleted($event)"
    ></app-project-tasks-table>
  </div>
  <div class="footer">Total tasks: {{ tasks.length }}</div>
</div>
