<div class="system-settings-page">
  <div class="system-settings-page-content">
    <div class="system-settings-page-header">
      <div class="system-settings-page-title-group">
        <div class="system-settings-page-title-wrap">
          <h2 class="system-settings-page-title">System</h2>
        </div>
        <p class="system-settings-page-description">
          Configure your personal system settings below.
        </p>
      </div>
    </div>

    <div class="system-settings-page-content-wrapper">
      <div class="system-settings-content">
        <!-- System Settings Section -->
        <div class="system-settings-section">
          <!-- Theme Toggle -->
          <div class="system-settings-item">
            <span class="label">Theme</span>
            <div class="toggle-container">
              <span class="toggle-label light-label">Light</span>
              <label class="theme-toggle">
                <input
                  type="checkbox"
                  id="theme-switch"
                  [(ngModel)]="isDarkTheme"
                  (change)="toggleTheme()"
                />
                <span class="slider"></span>
              </label>
              <span class="toggle-label dark-label">Dark</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
