// mat-toolbar {
//   position: relative;
//   z-index: 5;
// }

// .content {
//   // padding-top: 2rem;
//   // padding-bottom: 0rem;
// }

mat-sidenav-container {
  height: 100vh;
}
mat-sidenav {
  border-radius: 0;
  // box-shadow: 3px 0 6px rgba(0, 0, 0, 0.2);
}
mat-sidenav-content {
  background-color: #ecf0f3;
}

mat-sidenav,
mat-sidenav-content {
  transition: all 50ms ease-in-out;
}
mat-sidenav {
  background-color: rgb(255, 255, 255);
  border-right: 1px solid #e2e4e7;
}

// ::ng-deep mat-sidenav {
//   background-color: #111827 !important;
//   color: white !important;
// }
