<div class="wrapper">
  <div class="header">
    <span class="title">{{ project.name }}</span>
  </div>

  <hr class="separator" />

  <div class="content">
    <div *ngIf="dataLoaded" class="project-info">
      <div class="assignment-wrapper">
        <span class="assignment-title">Assignment: </span>
        <hr />
        <span class="assignment-value">{{ project.assignment }}</span>
      </div>
      <div class="assignment-wrapper">
        <span class="assignment-title">Description: </span>
        <hr />
        <span class="assignment-value">{{ project.description }}</span>
      </div>
      <div class="assignment-wrapper">
        <span class="assignment-title">Process type: </span>
        <hr />
        <span class="assignment-value">{{ project.process }}</span>
      </div>

      <div class="assignment-wrapper" *ngIf="embeddingModelData">
        <span class="assignment-title">Embedding Model: </span>
        <hr />
        <span class="assignment-value">{{ embeddingModelData.name }}</span>
      </div>
      <div class="assignment-wrapper" *ngIf="llmModelData">
        <span class="assignment-title">LLM Model: </span>
        <hr />
        <span class="assignment-value">{{ llmModelData.name }}</span>
      </div>
      <div class="assignment-wrapper" *ngIf="configData?.temperature != null">
        <span class="assignment-title">Creativity Index: </span>
        <hr />
        <span class="assignment-value">{{ configData?.temperature }}</span>
      </div>
      <div class="assignment-wrapper" *ngIf="configData?.num_ctx !== null">
        <span class="assignment-title">Context: </span>
        <hr />
        <span class="assignment-value">{{ configData?.num_ctx }}</span>
      </div>
      <!-- <div class="detail-item">
        <span class="detail-title">Memory Enabled:</span>
        <span class="detail-value">{{ project.memory ? "Yes" : "No" }}</span>
      </div> -->
    </div>
  </div>

  <div class="footer">
    <div class="edit-project">
      <button mat-stroked-button (click)="openEditProjectDialog()">
        Edit Project <mat-icon>edit</mat-icon>
      </button>
    </div>
    <button class="run-button" mat-flat-button color="primary">Run</button>
    <!-- <ng-container *ngIf="sessionId == null; else sessionActiveTemplate">
      <button
        class="run-button"
        mat-flat-button
        color="primary"
        (click)="startRun()"
      >
        Run
      </button>
    </ng-container> -->
  </div>

  <ng-template #sessionActiveTemplate>
    <button mat-flat-button color="primary" (click)="viewRunSession()">
      View
    </button>
    <button mat-flat-button color="warn" (click)="stopRunSession()">
      Stop
    </button>
  </ng-template>
</div>

<!-- Confirmation Dialog Template -->
<ng-template #confirmRunDialog>
  <h2 mat-dialog-title>Confirm Run</h2>
  <mat-dialog-content>
    <p>Are you sure you want to start the session?</p>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button (click)="confirmDialogRef.close(false)">No</button>
    <button mat-button color="primary" (click)="confirmDialogRef.close(true)">
      Yes
    </button>
  </mat-dialog-actions>
</ng-template>

<!-- Confirmation Dialog Template -->
<ng-template #confirmRunDialog>
  <h2 mat-dialog-title>Confirm Run</h2>
  <mat-dialog-content>
    <p>Are you sure you want to start the session?</p>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button (click)="confirmDialogRef.close(false)">No</button>
    <button mat-button color="primary" (click)="confirmDialogRef.close(true)">
      Yes
    </button>
  </mat-dialog-actions>
</ng-template>
