<div class="main-container">
  <!-- Title & Close Button -->
  <app-form-header [title]="'Create New Project'" (cancel)="onCancelForm()">
  </app-form-header>

  <div class="content">
    <form [formGroup]="projectForm" (ngSubmit)="onSubmitForm()">
      <!-- Basic Field: name with icon selector -->
      <div class="custom-field name-with-icon">
        <label for="name">Project Name <span class="required">*</span></label>
        <div class="input-with-icon">
          <!-- Icon Picker Component -->
          <app-icon-picker
            [selectedIcon]="selectedIcon"
            (iconSelected)="onIconSelected($event)"
          ></app-icon-picker>
          <input
            id="name"
            type="text"
            formControlName="name"
            placeholder="Enter project name"
            autocomplete="off"
          />
        </div>
        <div
          class="error-message"
          *ngIf="
            projectForm.get('name')?.touched &&
            projectForm.get('name')?.dirty &&
            projectForm.get('name')?.hasError('required')
          "
        >
          Project name is required
        </div>
      </div>

      <!-- Basic Field: description -->
      <div class="custom-field">
        <label for="description">Project Description</label>
        <textarea
          id="description"
          formControlName="description"
          rows="3"
          placeholder="Enter project description (optional)"
        ></textarea>
      </div>

      <div class="custom-field">
        <label for="process_type">Process Type</label>
        <!-- Process Selector as Toggle Switch -->
        <app-process-selector
          [initialValue]="projectForm.get('process_type')?.value"
          (valueChange)="setProcessType($event)"
        >
        </app-process-selector>
      </div>

      <!-- Hierarchical Settings with Animation -->
      <div
        class="hierarchical-settings"
        *ngIf="projectForm.get('process_type')?.value === 'hierarchical'"
        @smoothExpand
      >
        <p class="info-message">
          These fields are only required if process is hierarchical:
        </p>

        <div class="custom-field">
          <label>Manager LLM</label>
          <app-llm-selector
            [llmConfigs]="llmConfigs"
            label="Manager LLM Config"
            placeholder="Select a manager LLM configuration"
            [required]="false"
            [selectedValue]="projectForm.get('manager_llm_config')?.value"
            (valueChange)="onLLMChange($event)"
          ></app-llm-selector>
        </div>
        <!-- Custom LLM Selector -->

        <div class="custom-field">
          <label>Embedding Model</label>
          <!-- Custom Embedding Selector -->
          <app-embedding-selector
            [embeddingConfigs]="embeddingConfigs"
            label="Embedding Config"
            placeholder="Select an embedding configuration"
            [required]="false"
            [selectedValue]="projectForm.get('embedding_config')?.value"
            (valueChange)="onEmbeddingChange($event)"
          ></app-embedding-selector>
        </div>

        <div class="custom-field">
          <label for="planning_llm_config">Planning LLM Config</label>
          <input
            id="planning_llm_config"
            type="number"
            formControlName="planning_llm_config"
            placeholder="Enter planning LLM config ID"
          />
        </div>

        <!-- Slider -->
        <app-form-slider
          [value]="sliderValue"
          label="Manager Creativity Level:"
          (valueChange)="onSliderInput($event)"
        >
        </app-form-slider>
      </div>

      <!-- Toggler for additional advanced fields -->
      <button
        type="button"
        class="toggle-settings"
        (click)="onToggleAdvancedSettings()"
      >
        {{
          advancedVisible ? "Hide Advanced Settings" : "Show Advanced Settings"
        }}
      </button>

      <!-- Advanced Section: Additional fields -->
      <div *ngIf="advancedVisible" @smoothExpand>
        <!-- Memory Toggle Switch -->
        <div class="toggle-field">
          <div class="toggle-label">Memory</div>
          <app-toggle-switch formControlName="memory"></app-toggle-switch>
        </div>

        <!-- Cache Toggle Switch -->
        <div class="toggle-field">
          <div class="toggle-label">Cache</div>
          <app-toggle-switch formControlName="cache"></app-toggle-switch>
        </div>

        <!-- Full Output Toggle Switch -->
        <div class="toggle-field">
          <div class="toggle-label">Full Output</div>
          <app-toggle-switch formControlName="full_output"></app-toggle-switch>
        </div>

        <!-- Max RPM Slider -->
        <app-form-slider
          [value]="maxRpmSliderValue"
          [max]="50"
          label="Max Requests Per Minute (0-50):"
          (valueChange)="onMaxRpmSliderInput($event)"
        >
        </app-form-slider>
      </div>
    </form>
  </div>

  <app-form-footer
    [isSubmitDisabled]="projectForm.invalid"
    [isSubmitting]="isSubmitting"
    (cancel)="onCancelForm()"
    (submit)="onSubmitForm()"
  >
  </app-form-footer>
</div>
