.snackbar-success {
  --mdc-snackbar-container-color: green;
  color: white !important;
}

.snackbar-error {
  --mdc-snackbar-container-color: rgb(228, 89, 84);
  color: white !important;
}

.snackbar-success .mat-mdc-snack-bar-action,
.snackbar-error .mat-mdc-snack-bar-action {
  color: white !important;
  font-weight: bold;
}
