<!-- new-project-card.component.html -->
<div class="project-card new-project-card" (click)="onCreateProject()">
  <div class="card-content">
    <div class="plus-icon-wrapper">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      >
        <line x1="12" y1="5" x2="12" y2="19"></line>
        <line x1="5" y1="12" x2="19" y2="12"></line>
      </svg>
    </div>
    <h3 class="new-project-title">New Project</h3>
  </div>
</div>
