<div class="main-container">
  <div class="dialog-header">
    <h1 mat-dialog-title>Choose the needed agents from your Staff:</h1>
  </div>
  <div mat-dialog-content class="dialog-content">
    <ng-container *ngIf="!isLoading; else loading">
      <mat-list>
        <mat-list-item
          *ngFor="let agent of agents"
          (click)="toggleSelection(agent)"
          [class.selected]="isSelected(agent)"
        >
          <div class="agent-info">
            <div class="agent-details">
              <span class="agent-role">{{ agent.role }}: </span>
              <span class="agent-goal">{{ agent.goal }}</span>
            </div>
            <mat-checkbox [checked]="isSelected(agent)"></mat-checkbox>
          </div>
        </mat-list-item>
      </mat-list>
    </ng-container>
    <ng-template #loading>
      <div class="loading-container">
        <mat-spinner diameter="20"></mat-spinner>
        <span>Loading agents...</span>
      </div>
    </ng-template>
  </div>
  <div mat-dialog-actions class="dialog-actions">
    <button mat-stroked-button (click)="closeDialog()">Close</button>
    <button mat-flat-button color="primary" (click)="addSelectedAgents()">
      Update Agents
    </button>
  </div>
</div>
