<div class="main-container">
  <div class="project-info-section-wrapper">
    <ng-container *ngIf="project; else loadingProject">
      <app-section-project-info [project]="project"></app-section-project-info>
    </ng-container>

    <ng-template #loadingProject>
      <p>Loading project information...</p>
    </ng-template>
  </div>
  <div class="agents-tasks-sections-wrapper">
    <!-- Agents Section -->
    <div class="agents-section">
      <ng-container *ngIf="isDataLoaded; else loadingAgents">
        <app-section-agents-info
          [agents]="agents"
          (addAgentsClicked)="openAgentsDialog()"
        >
        </app-section-agents-info>
      </ng-container>
      <ng-template #loadingAgents>
        <p>Loading agents...</p>
      </ng-template>
    </div>
    <div class="tasks-section">
      <ng-container *ngIf="isDataLoaded; else loadingTasks">
        <app-section-tasks-info
          [tasks]="tasks"
          [agents]="agents"
          [projectId]="project.id"
          (addTaskClicked)="openCreateTaskDialog()"
        ></app-section-tasks-info>
      </ng-container>
      <ng-template #loadingTasks>
        <p>Loading tasks...</p>
      </ng-template>
    </div>
    <!-- Tasks Section -->
  </div>
</div>
