<app-page-header
  [headerTitle]="'Models'"
  [createButtonTitle]="'Create Custom Model'"
></app-page-header>
@if(isLoaded){

<div class="wrapper">
  <div class="models-page-provider-table">
    <ng-container
      *ngFor="let providerGroup of providersWithModels; let i = index"
    >
      <div class="models-page-provider-row" [class.open]="expandedProviders[i]">
        <div class="models-page-provider-cell">
          <!-- Provider Header -->
          <div
            class="models-page-provider-header"
            (click)="toggleProviderVisibility(i)"
          >
            <mat-icon
              class="models-page-toggle-arrow"
              [ngClass]="{
                'arrow-expanded': expandedProviders[i],
                'arrow-collapsed': !expandedProviders[i]
              }"
            >
              play_arrow
            </mat-icon>
            <span class="models-page-provider-title">{{
              providerGroup.provider.name
            }}</span>

            <span class="models-page-provider-description">
              {{ providerGroup.provider.description }}
            </span>
          </div>

          <!-- Provider Content -->
          <div
            class="models-page-provider-content"
            *ngIf="expandedProviders[i]"
          >
            <!-- Main Models List -->
            <ul
              class="models-page-models-list"
              *ngIf="providerGroup.models.length > 0"
            >
              <li
                *ngFor="let model of providerGroup.models"
                class="models-page-model-item"
                (click)="toggleModelConfigs(model)"
              >
                <div class="models-page-model-item-content">
                  <div class="models-page-model-name">
                    <mat-icon
                      class="models-page-toggle-arrow"
                      [ngClass]="{
                        'arrow-expanded': model.expandedConfigs,
                        'arrow-collapsed': !model.expandedConfigs
                      }"
                    >
                      play_arrow
                    </mat-icon>
                    {{ model.name }}
                  </div>
                  <div class="models-page-config-add">
                    <button (click)="addModelConfiguration(model, $event)">
                      <mat-icon>add</mat-icon>
                      Add {{ model.name }} Instance
                    </button>
                  </div>
                </div>

                <!-- Configs List -->
                <ul
                  class="models-page-configs-list"
                  *ngIf="model.expandedConfigs"
                >
                  <ng-container
                    *ngIf="model.configs.length > 0; else noConfigs"
                  >
                    <li
                      *ngFor="let config of model.configs"
                      class="models-page-config-item"
                    >
                      <div class="models-page-config-details">
                        <span class="models-page-config-name">{{
                          config.custom_name
                        }}</span>
                        <div
                          class="models-page-custom-toggle"
                          [class.active]="config.is_visible"
                        ></div>
                      </div>
                      <div class="models-page-config-actions">
                        <button
                          class="models-page-configure-btn"
                          (click)="configureConfig(model, config)"
                        >
                          <mat-icon>settings</mat-icon>
                          Configure
                        </button>
                        <button
                          class="models-page-delete-btn"
                          (click)="deleteConfig(model, config)"
                        >
                          <mat-icon>delete</mat-icon>
                        </button>
                      </div>
                    </li>
                  </ng-container>
                  <ng-template #noConfigs>
                    <li class="models-page-no-configs-message">
                      No configurations available.
                    </li>
                  </ng-template>
                </ul>
              </li>
            </ul>

            <!-- Embedding Models Section -->
            <ul
              class="models-page-models-list"
              *ngIf="providerGroup.embeddingModels.length > 0"
            >
              <li
                *ngFor="let embeddingModel of providerGroup.embeddingModels"
                class="models-page-model-item embedding-model-item"
                (click)="toggleEmbeddingModelConfigs(embeddingModel)"
              >
                <div class="models-page-model-item-content">
                  <div class="models-page-model-name">
                    <mat-icon
                      class="models-page-toggle-arrow"
                      [ngClass]="{
                        'arrow-expanded': embeddingModel.expandedConfigs,
                        'arrow-collapsed': !embeddingModel.expandedConfigs
                      }"
                    >
                      play_arrow
                    </mat-icon>
                    {{ embeddingModel.name }}
                  </div>
                  <div class="models-page-config-add">
                    <button
                      (click)="
                        addEmbeddingConfiguration(embeddingModel, $event)
                      "
                    >
                      <mat-icon>add</mat-icon>
                      Add {{ embeddingModel.name }} Instance
                    </button>
                  </div>
                </div>

                <!-- Embedding Configs List -->
                <ul
                  class="models-page-configs-list"
                  *ngIf="embeddingModel.expandedConfigs"
                >
                  <ng-container
                    *ngIf="
                      embeddingModel.configs.length > 0;
                      else noEmbeddingConfigs
                    "
                  >
                    <li
                      *ngFor="let config of embeddingModel.configs"
                      class="models-page-config-item embedding-config-item"
                    >
                      <div class="models-page-config-details">
                        <span class="models-page-config-name">{{
                          config.custom_name
                        }}</span>
                        <div
                          class="models-page-custom-toggle"
                          [class.active]="config.is_visible"
                        ></div>
                      </div>
                      <div class="models-page-config-actions">
                        <button
                          class="models-page-configure-btn"
                          (click)="
                            configureEmbeddingConfig(embeddingModel, config)
                          "
                        >
                          <mat-icon>settings</mat-icon>
                          Configure
                        </button>
                        <button
                          class="models-page-delete-btn"
                          (click)="
                            deleteEmbeddingConfig(embeddingModel, config)
                          "
                        >
                          <mat-icon>delete</mat-icon>
                        </button>
                      </div>
                    </li>
                  </ng-container>
                  <ng-template #noEmbeddingConfigs>
                    <li class="models-page-no-configs-message">
                      No configurations available.
                    </li>
                  </ng-template>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>
} @else{
<p class="loading"></p>
}
