.staff-table-main-container {
  width: 100%;
  height: 100%;

  .staff-table-header-container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 3rem;
    background-color: #ffffff;
    height: 10%;
    width: 100%;
    // box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.1);
    z-index: 1002;

    .staff-table-title-search-header-section {
      display: flex;

      align-items: center;
      gap: 2rem;

      .staff-table-title {
        font-size: 2rem;
        font-weight: bold;
        color: #333;
      }
    }
    .staff-table-header-actions {
      display: flex;
      align-items: center;
      gap: 2rem;
    }

    input {
      border: 2px solid #000000;
      border-radius: 20px;
      padding: 6px 15px;
      background-color: #ffffff;
      color: #000000;
      font-size: 14px;
      outline: none;
      transition: border-color 0.3s ease-in-out;

      &::placeholder {
        color: #888888;
      }
    }

    button {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0.5rem 1rem;
      font-size: 14px;

      text-transform: none;
    }

    .staff-table-column-settings {
      display: flex;
      justify-content: center;
      align-items: center;
      p {
        margin-bottom: 0;
      }
    }
  }

  .staff-table-content-wrapper {
    margin: 0 auto;
    width: 100%;
    height: 90%;

    .staff-table-loading-container {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 30%;
      font-size: 1.2em;
      color: #000000;
    }
  }
}

//hide horizontal scrollbar
#staffTableContainer .wtHolder {
  overflow-x: hidden !important;
}

/* Optional scrollbar styling */
/* #hotContainer .wtHolder::-webkit-scrollbar {
  display: none !important;
} */

.manual-row-resize-renderer {
  position: absolute;
  padding: 4px;
  padding-right: 6.5px;
  padding-top: 5px;
  word-break: break-word;
}

//TABLE CUSTOMIZATION

//column headers
#staffTableContainer .htCore thead th {
  background-color: #6d9eeb !important;
}

#staffTableContainer .htCore thead th.ht__highlight {
  background-color: #005cbb !important;
  color: #ffffff !important;
}

#staffTableContainer .htCore thead th:hover {
  background-color: #005cbb !important;
  color: #ffffff !important;
}

#staffTableContainer .htCore thead th:first-child {
  background-color: #f7f7f7 !important;
  color: #dfdfdf !important;
}

.staff-table-default-column-header-style {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  height: 100px !important;
  color: #ffffff !important;
  font-size: 0.875rem; //14px

  .colHeader {
    padding: 6px !important;
    font-weight: bold;
  }
}

.vertical-header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  .colHeader {
    padding: 0 !important;
    margin: 0 !important;
    transform: rotate(-90deg);
    white-space: nowrap;
    margin-right: 5px !important;
  }
}

//column cells
.staff-table-default-column-style {
  font-family: Arial, Helvetica, sans-serif !important;
  font-size: 0.75rem !important; //12px
  color: #000000 !important;
  line-height: 1.4 !important;
}
.staff-table-role-column-style {
  font-family: Arial, Helvetica, sans-serif !important;
  font-size: 0.75rem !important; //12px
  color: #000000 !important;
  line-height: 1.4 !important;
  font-weight: 600;
}

.staff-table-comments-column-style {
  font-family: Arial, Helvetica, sans-serif !important;
  background-color: #f7f7f7 !important;
  font-size: 0.75rem !important; //12px
  color: #000000 !important;
  line-height: 1.4 !important;
}

//rows-headers
.staff-table-row-header-class {
  background-color: #ebebeb !important;
  color: rgb(34, 34, 34) !important;
  text-align: center !important;
  vertical-align: middle !important;
  z-index: -1000 !important;
  // .relative {
  //   .rowHeader {
  //     // font-weight: bold;
  //   }
  // }
}

.staff-table-row-header-class.ht__highlight {
  background-color: #dfdfdf !important;
  .relative {
    .rowHeader {
      font-weight: 600;
      color: rgb(31, 31, 31);
    }
  }
}

// THIS SHOULD BE IN HOT SETINGS NOT PLAIN CSS
// .staff-table-row-header-class:hover {
//   background-color: #c4eed0 !important;
// }
// /* Style for even rows */
// .ht_master tbody tr:nth-child(even) td {
//   background-color: #f3f3f3 !important;
// }

// /* Style for odd rows */
// .ht_master tbody tr:nth-child(odd) td {
//   background-color: #ffffff !important;
//   color: rgb(34, 34, 34) !important;
// }

// Override invalid cell styling
.handsontable td.htInvalid {
  background-color: transparent !important;
  // border: 1px solid red !important;
  box-shadow: inset 0 0 0 1px rgb(211, 8, 8);
}

td.htCenter.htMiddle input[type="checkbox"] {
  width: 1rem !important; /* Set explicit width */
  height: 1rem !important; /* Set explicit height */
  // accent-color: #309723 !important; /* Change checkbox color */

  cursor: pointer !important; /* Show pointer cursor on hover */
}

// textarea.handsontableInput {
//   border: 1px solid #3f73c2 !important; /* Light grey border similar to the first image */
//   border-radius: 5px !important; /* Rounded corners */
//   background-color: #ffffff !important; /* White background */
//   // padding: 10px !important; /* Padding inside the box */
//   box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1) !important;
//   // font-size: 14px !important; /* Adjust font size to match */
//   // line-height: 1.5 !important; /* Adjust line height for readability */
//   color: #333 !important; /* Darker text color */
//   // max-width: 300px !important; /* Set a max width to control the size */
//   position: relative !important; /* Ensure proper positioning for tooltip-like behavior */
// }

textarea.handsontableInput {
  padding: 5px !important;
  padding-left: 6px !important;
  font-family: Arial, Helvetica, sans-serif !important;
  font-size: 0.75rem !important; //12px
  color: #000000 !important;
  line-height: 1.4 !important;
}

// div.htItemWrapper {
//   color: #000000 !important;
// }

// div.htItemWrapper:hover {
//   color: #2b97c9 !important;
// }

//llm selector styles
.custom-dropdown-container {
  position: relative;
  width: 80%;
  margin: 0 auto;
  margin-top: 8%;
  font-family: Helvetica, sans-serif;
}

.selected-value {
  padding: 5px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: transparent;
  font-size: 0.75rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  white-space: nowrap;
  /* overflow: hidden; */
  /* text-overflow: ellipsis; */
  color: black;
  cursor: pointer;
}

.selected-value:hover {
  border: 1px solid #6d9eeb;
}

.selected-value.open {
  border: 1px solid #6d9eeb !important;
}

.selected-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.dropdown-icon {
  margin-left: 5px;
  font-size: 12px;
}

.options-list {
  position: absolute;
  left: 0;
  right: auto;
  width: 100%;
  z-index: 100;
  border: 1px solid #2b97c9;
  background-color: #ffffff;
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 248px;

  font-size: 12px;
}

.option-item {
  padding: 5px;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.option-item.selected {
  font-weight: bold;
}
.option-item:hover {
  background-color: #f3f3f3;
  color: rgb(0, 0, 0);
}

/* Custom scrollbar for Firefox */
.options-list {
  scrollbar-width: thin;
  scrollbar-color: #c9c9c9 #f1f1f1;
}
