<div class="staff-table-main-container">
  <div class="staff-table-header-container">
    <div class="staff-table-title-search-header-section">
      <span class="staff-table-title">Staff</span>
      <div class="search-input-wrapper">
        <mat-icon class="search-icon">search</mat-icon>
        <input type="text" placeholder="Search agents..." />
      </div>
    </div>
    <div class="staff-table-header-actions">
      <button
        class="create-agent"
        mat-flat-button
        color="primary"
        (click)="onOpenCreateAgentFormDialog()"
      >
        <mat-icon>add</mat-icon>
        Create agent
      </button>
    </div>
  </div>

  <div class="staff-table-content-wrapper">
    <!-- Loading Indicator -->
    <div *ngIf="!isTableInitialized" class="staff-table-loading-container">
      <p>Loading agents, please wait...</p>
    </div>

    <!-- Handsontable -->

    <div #staffTableContainer id="staffTableContainer"></div>
  </div>
</div>
