<div class="staff-table-main-container">
  <div class="staff-table-header-container">
    <div class="staff-table-title-search-header-section">
      <span class="staff-table-title">Staff</span>
      <input
        type="text"
        placeholder="Search agents..."
        (input)="onSearchInput($event)"
      />
    </div>
    <div class="staff-table-header-actions">
      <!-- <div class="staff-table-column-settings">
        <p>Show only main columns</p>
        <mat-checkbox
          [(ngModel)]="hideDefaultColumns"
          (change)="onHideDefaultColumnsChange()"
        ></mat-checkbox>
      </div> -->

      <button
        mat-flat-button
        color="primary"
        (click)="onOpenCreateAgentFormDialog()"
      >
        Create an agent via form
      </button>
    </div>
  </div>

  <div class="staff-table-content-wrapper">
    <!-- Loading Indicator -->
    <div *ngIf="!isLoading" class="staff-table-loading-container">
      <p>Loading agents, please wait...</p>
    </div>

    <!-- Handsontable -->
    <div #staffTableContainer id="staffTableContainer"></div>
  </div>
</div>
