.staff-table-main-container {
  display: flex;
  flex-direction: column;
  height: 100vh;

  .staff-table-header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 80px;
    flex-shrink: 0;
    background-color: white;
    padding: 1rem 2.8rem;
    // box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.1);

    .staff-table-title-search-header-section {
      display: flex;

      align-items: center;
      gap: 2rem;

      .staff-table-title {
        font-size: 2rem;
        font-weight: bold;
        color: #333;
      }
    }
    .staff-table-header-actions {
      display: flex;
      align-items: center;
      gap: 2rem;

      .create-agent {
        width: 10rem;
      }
    }

    .search-input-wrapper {
      position: relative;
      display: flex;
      align-items: center;
      margin-right: 2rem;
    }

    input {
      border: 1px solid #c0c0c0;
      border-radius: 20px;
      padding: 6px 15px;
      padding-left: 35px;
      background-color: #f7f8fa;
      color: #000000;
      font-size: 14px;
      outline: none;
      transition: border-color 0.3s ease-in-out;
      width: 200px;

      &::placeholder {
        color: #888888;
      }
    }

    .search-icon {
      position: absolute;
      left: 10px;
      bottom: 5px;
      color: #888888;
      font-size: 18px;
      pointer-events: none;
    }

    button {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0.5rem 1rem;
      font-size: 14px;

      text-transform: none;
    }

    .staff-table-column-settings {
      display: flex;
      justify-content: center;
      align-items: center;
      p {
        margin-bottom: 0;
      }
    }
  }

  .staff-table-content-wrapper {
    flex-grow: 1;
    // overflow-y: auto;

    .staff-table-loading-container {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 30%;
      font-size: 1.2em;
      color: #000000;
    }
  }
}

//hide horizontal scrollbar

@media (min-width: 1450px) {
  #staffTableContainer .wtHolder {
    overflow-x: hidden !important;
  }
}

/* #hotContainer .wtHolder::-webkit-scrollbar {
  display: none !important;
} */

.manual-row-resize-renderer {
  position: absolute;
  padding: 4px;
  padding-right: 6.5px;
  padding-top: 5px;
  overflow-wrap: break-word;

  display: -webkit-box;
  -webkit-line-clamp: 4;
  line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

//TABLE CUSTOMIZATION

//column headers
#staffTableContainer .htCore thead th {
  background-color: #6d9eeb !important;
}

#staffTableContainer .htCore thead th.ht__highlight {
  background-color: #005cbb !important;
  color: #ffffff !important;
}

#staffTableContainer .htCore thead th:hover {
  background-color: #005cbb !important;
  color: #ffffff !important;
}

#staffTableContainer .htCore thead th:first-child {
  background-color: #f7f7f7 !important;
  color: #dfdfdf !important;
}

.staff-table-default-column-header-style {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  height: 110px !important;
  color: #ffffff !important;
  font-size: 0.875rem; //14px

  .colHeader {
    padding: 6px !important;
    font-weight: bold;
  }
}

.vertical-header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  .colHeader {
    padding: 0 !important;
    margin: 0 !important;
    transform: rotate(-90deg);
    white-space: nowrap;
    margin-right: 5px !important;
  }
}

//column cells
.staff-table-default-column-style {
  font-family: Helvetica, sans-serif !important;
  font-size: 13px !important;
  line-height: 1.4 !important;

  letter-spacing: 0.5px;
}
.staff-table-role-column-style {
  font-family: Helvetica, sans-serif !important;
  font-size: 13px !important;
  line-height: 1.4 !important;

  letter-spacing: 0.5px;
  font-weight: 600;
}

.staff-table-comments-column-style {
  font-family: Helvetica, sans-serif !important;
  background-color: #f7f7f7 !important;
  font-size: 13px !important;
  color: #000000 !important;
  line-height: 1.4 !important;
  letter-spacing: 0.5px;
}

.staff-table-default-column-numeric-style {
  font-family: Helvetica, sans-serif !important;
  font-weight: 500;
  font-size: 0.85rem !important; //12px
  color: #0f0f0f !important;
}
//rows-headers
.staff-table-row-header-class {
  background-color: #6d9eeb !important;
  color: rgb(255, 255, 255) !important;
  text-align: center !important;
  vertical-align: middle !important;
  z-index: -1000 !important;

  // .relative {
  //   .rowHeader {
  //     // font-weight: bold;
  //   }
  // }
}

.staff-table-row-header-class.ht__highlight {
  background-color: #005cbb !important;
  // .relative {
  //   .rowHeader {
  //     font-weight: 600;
  //     color: rgb(255, 255, 255);
  //   }
  // }
}

// THIS SHOULD BE IN HOT SETINGS NOT PLAIN CSS
// .staff-table-row-header-class:hover {
//   background-color: #c4eed0 !important;
// }
// /* Style for even rows */
// .ht_master tbody tr:nth-child(even) td {
//   background-color: #f3f3f3 !important;
// }

// /* Style for odd rows */
// .ht_master tbody tr:nth-child(odd) td {
//   background-color: #ffffff !important;
//   color: rgb(34, 34, 34) !important;
// }

.handsontable td.htInvalid {
  background-color: transparent !important;
  // border: 1px solid red !important;
  box-shadow: inset 0 0 0 1px rgb(177, 52, 52);
}

td.htCenter.htMiddle input[type="checkbox"] {
  width: 1rem !important;
  height: 1rem !important;
  // accent-color: #309723 !important;

  cursor: pointer !important;
}

textarea.handsontableInput {
  border: 2px solid #1b72f3 !important;
  border-radius: 5px !important;
  background-color: #ffffff !important;
  // padding: 10px !important;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1) !important;
  font-size: 12px !important;
  line-height: 1.4 !important;

  letter-spacing: 0.5px;

  color: #333 !important;
  // max-width: 300px !important;
  position: relative !important;
}

//custom llm renderer
.custom-dropdown-container {
  position: relative;
  width: 100%;
  margin: 0;
  font-family: Helvetica, sans-serif;
}

.selected-value {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f9f9f9;
  font-size: 0.85rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  color: #333;

  margin-top: 10px;

  z-index: 10;
}

.selected-value:hover {
  border-color: #999;
  background-color: #f1f1f1;
}

.selected-value.open {
  border-color: #007bff;
  background-color: #e9f5ff;
}

.selected-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.dropdown-icon {
  margin-left: 5px;
  font-size: 0.75rem;
}

.options-list {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 10;
  border: 1px solid #ccc;
  background-color: #ffffff;
  overflow-y: auto;
  max-height: 300px;
  width: 100%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.option-item {
  padding: 8px 12px;
  cursor: pointer;
  font-size: 0.85rem;
  color: #333;
}

.option-item.selected {
  background-color: #e9f5ff;
  font-weight: bold;
}

.option-item:hover {
  background-color: #f1f1f1;
}

.options-list::-webkit-scrollbar {
  width: 6px;
}

.options-list::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.options-list::-webkit-scrollbar-thumb {
  background-color: #c1c1c1;
  border-radius: 3px;
}
