<div class="tool-variables">
  <div class="header">
    <h3>Inputs Description</h3>
    <!-- Plus icon to add a new variable -->
    <app-icon
      icon="ui/plus"
      size="1rem"
      class="add-icon"
      (click)="onAddVariable(); $event.preventDefault()"
    ></app-icon>
  </div>

  <!-- Display the variables as a list of editable rows -->
  <div class="variables-list">
    <div
      *ngFor="let variable of variables; let i = index"
      class="variable-item"
    >
      <input
        #nameInput
        type="text"
        placeholder="Input name"
        [(ngModel)]="variable.name"
        class="variable-input name-input"
        (keydown.enter)="onKeyUpEnter(i); $event.preventDefault()"
      />
      <input
        type="text"
        placeholder="Input Description"
        [(ngModel)]="variable.description"
        class="variable-input desc-input"
        (keydown.enter)="onKeyUpEnter(i); $event.preventDefault()"
      />

      <!-- Allow deletion if there's more than one row -->
      <button
        class="delete-variable-btn"
        (click)="removeVariable(i); $event.preventDefault()"
        *ngIf="variables.length > 1"
      >
        <app-icon icon="ui/x" size="1rem"></app-icon>
      </button>
    </div>
  </div>
</div>
