<!-- variable-popup.component.html -->

<!-- Popup element -->
<div
  #popupElement
  class="popup-container"
  [ngStyle]="{
    top: config.position.top + 'px',
    left: config.position.left + 'px'
  }"
  [style.visibility]="config.show ? 'visible' : 'hidden'"
  (mousedown)="preventEventPropagation($event)"
  (mouseup)="preventEventPropagation($event)"
  (click)="preventEventPropagation($event)"
>
  <div class="popup-content">
    <ul>
      <ng-container
        *ngIf="
          config.variables && config.variables.length > 0;
          else noVariables
        "
      >
        <li
          *ngFor="let variable of config.variables"
          (click)="onVariableClick(variable.title, $event)"
        >
          <div class="variable-title">{{ variable.title }}:</div>
          <div class="variable-value">{{ variable.value }}</div>
        </li>
      </ng-container>
      <ng-template #noVariables>
        <li class="no-variables">No variables are set</li>
      </ng-template>
    </ul>
  </div>
</div>
