<f-flow
  appMouseTracker
  (mousePosition)="updateMouseTrackerPosition($event)"
  (contextmenu)="onContextMenu($event)"
  fDraggable
  class="visual-programming-flow"
  appShortcutListener
  (delete)="onDelete()"
  (undo)="onUndo()"
  (redo)="onRedo()"
  (copy)="onCopy()"
  (paste)="onPaste()"
  (fLoaded)="onInitialized()"
  (fReassignConnection)="onReassignConnection($event)"
  (fCreateConnection)="onConnectionAdded($event)"
  (fCreateNode)="onNodeAdded($event)"
  (fDropToGroup)="this.flowService.groupNodes($event)"
>
  <f-background>
    <f-circle-pattern></f-circle-pattern>
  </f-background>
  <f-line-alignment></f-line-alignment>
  <f-canvas fZoom [scale]="viewModel.scale" [position]="viewModel.position">
    <!-- <f-snap-connection
      fBehavior="fixed"
      fType="segment"
      [fRadius]="50"
      [fOffset]="30"
      [fSnapThreshold]="35"
    >
   
      <svg
        viewBox="0 0 6 6"
        fMarker
        [type]="eMarkerType.END"
        [height]="6"
        [width]="6"
        [refX]="5"
        [refY]="3"
      >
        <path d="M0,0 L6,3 0,6Z" stroke="none" fill="#3f3f3f"></path>
      </svg>
    </f-snap-connection> -->

    <f-snap-connection fBehavior="fixed" fType="segment" [fSnapThreshold]="100">
      <svg
        viewBox="0 0 10 10"
        fMarker
        [type]="eMarkerType.START"
        [height]="10"
        [width]="10"
        [refX]="5"
        [refY]="5"
      >
        <circle cx="5" cy="5" r="2" stroke="none"></circle>
      </svg>
      <svg
        viewBox="0 0 6 6"
        fMarker
        [type]="eMarkerType.END"
        [height]="6"
        [width]="6"
        [refX]="5"
        [refY]="3"
      >
        <path d="M0,0 L6,3 0,6Z" stroke="none"></path>
      </svg>
    </f-snap-connection>
    <f-connection-for-create fBehavior="floating" fType="straight">
      <svg
        viewBox="0 0 10 10"
        fMarker
        [type]="eMarkerType.START"
        [height]="10"
        [width]="10"
        [refX]="5"
        [refY]="5"
      >
        <circle cx="5" cy="5" r="2" stroke="none"></circle>
      </svg>
      <svg
        viewBox="0 0 6 6"
        fMarker
        [type]="eMarkerType.END"
        [height]="6"
        [width]="6"
        [refX]="5"
        [refY]="3"
      >
        <path d="M0,0 L6,3 0,6Z" stroke="none"></path>
      </svg>
    </f-connection-for-create>
    @for (connection of flowService.connections(); track connection.id) {
    <f-connection
      fBehavior="fixed"
      fType="segment"
      [fOffset]="30"
      [fStartColor]="connection.startColor || '#ddd'"
      [fEndColor]="connection.endColor || '#ddd'"
      [fOutputId]="connection.sourcePortId"
      [fInputId]="connection.targetPortId"
      [fConnectionId]="connection.id"
    >
      <svg
        viewBox="0 0 10 10"
        fMarker
        [type]="eMarkerType.START"
        [height]="10"
        [width]="10"
        [refX]="5"
        [refY]="5"
      >
        <circle
          cx="5"
          cy="5"
          r="2"
          stroke="none"
          [attr.fill]="connection.startColor || '#ddd'"
        ></circle>
      </svg>
      <svg
        viewBox="0 0 6 6"
        fMarker
        [type]="eMarkerType.END"
        [height]="6"
        [width]="6"
        [refX]="5"
        [refY]="3"
      >
        <path
          d="M0,0 L6,3 0,6Z"
          stroke="none"
          [attr.fill]="connection.endColor || '#ddd'"
        ></path>
      </svg>
      <svg
        viewBox="0 0 10 10"
        fMarker
        [type]="eMarkerType.SELECTED_START"
        [height]="10"
        [width]="10"
        [refX]="5"
        [refY]="5"
      >
        <circle cx="5" cy="5" r="2" stroke="none"></circle>
      </svg>
      <svg
        viewBox="0 0 6 6"
        fMarker
        [type]="eMarkerType.SELECTED_END"
        [height]="6"
        [width]="6"
        [refX]="5"
        [refY]="3"
      >
        <path d="M0,0 L6,3 0,6Z" stroke="none"></path>
      </svg>
      <div fConnectionCenter class="connection-center">
        <!-- Plus Icon (No Click Attached) -->
        <div class="icon-button plus-icon">
          <i class="ti ti-plus"></i>
        </div>

        <!-- Delete Icon (Click to Remove Connection) -->
        <div
          class="icon-button delete-icon"
          (click)="
            flowService.removeConnection(connection.id);
            $event.stopPropagation()
          "
        >
          <i class="ti ti-trash"></i>
        </div>
      </div>
    </f-connection>
    } @for (node of flowService.nodes() | visibleNodes:flowService.groups();;
    track node.id) {
    <app-flow-base-node
      [node]="node"
      fNode
      fDragHandle
      [fNodeId]="node.id"
      [fNodeParentId]="node.parentId"
      [fNodePosition]="node.position"
      (fNodePositionChange)="onNodePositionChanged($event, node)"
      (editClicked)="onEditNode($event)"
      (projectExpandToggled)="onProjectExpandToggle($event)"
    >
    </app-flow-base-node>
    } @for (group of flowService.groups(); track group.id) {
    <div
      fNode
      fDragHandle
      class="node-group"
      [ngClass]="{ 'f-collapsed': group.collapsed }"
      fNodeOutput
      [fOutputDisabled]="true"
      [fOutputId]="group.id"
      fNodeInput
      [fInputDisabled]="true"
      [fInputId]="group.id"
      [fInputConnectableSide]="'left'"
      [fOutputConnectableSide]="'right'"
      [fNodePosition]="group.position"
      (fNodePositionChange)="onNodePositionChanged($event, group)"
      (fNodeSizeChange)="onNodeSizeChanged($event, group)"
      [fNodeId]="group.id"
      [fNodeSize]="group.size"
    >
      <div class="node-group-header" [title]="group.data">
        <!-- ICON + TITLE (always visible) -->
        <div class="icon-and-title">
          <i class="ti ti-users group-icon"></i>

          <!-- If not editing, show the group name. Otherwise, show the input. -->
          <ng-container
            *ngIf="editedGroupId !== group.id; else editingTemplate"
          >
            <span class="group-name">{{ group.data }}</span>
          </ng-container>

          <ng-template #editingTemplate>
            <div class="edit-container">
              <input
                type="text"
                [(ngModel)]="editGroupName"
                (keydown.enter)="saveGroupName(group)"
                autofocus
              />
              <button (click)="saveGroupName(group)">Save</button>
            </div>
          </ng-template>
        </div>
      </div>

      <!-- Expand/Collapse icon on the top-left -->
      <div
        class="icon-floating top-left"
        (click)="toggleGroupExpansion(group)"
        (mousedown)="$event.stopPropagation()"
      >
        <i class="ti ti-aspect-ratio"></i>
      </div>

      <!-- Edit icon on the top-right -->
      <div
        class="icon-floating top-right"
        *ngIf="editedGroupId !== group.id"
        (click)="startEditingGroup(group)"
        (mousedown)="$event.stopPropagation()"
      >
        <i class="ti ti-edit"></i>
      </div>

      <!-- Resize Handle (only visible if not collapsed) -->
      <div
        *ngIf="!group.collapsed"
        fResizeHandle
        [fResizeHandleType]="eResizeHandleType.RIGHT_BOTTOM"
      ></div>
    </div>

    }
  </f-canvas>
  <f-selection-area></f-selection-area>
  <f-minimap [fMinSize]="1000"></f-minimap>
</f-flow>

<app-flow-graph-context-menu
  *ngIf="showContextMenu()"
  [position]="contextMenuPostion"
  menuContext="flow-graph"
  clickOutside
  (clickOutside)="onClose()"
  (nodeSelected)="nodeSelected($event)"
>
</app-flow-graph-context-menu>
<app-dynamic-side-panel-host
  *ngIf="selectedNode"
  [node]="selectedNode"
  (closePanel)="onCloseSidePanel()"
  (nodeUpdated)="onNodeUpdated($event)"
></app-dynamic-side-panel-host>
