<div class="main-container">
  <div class="header">
    <div class="title-search">
      <span class="title">Projects</span>
      <div class="search-input-wrapper">
        <mat-icon class="search-icon">search</mat-icon>
        <input type="text" placeholder="Search projects..." />
      </div>
      <!-- <button mat-flat-button>
        Filter by
        <mat-icon>expand_more</mat-icon>
      </button> -->
    </div>

    <button
      mat-flat-button
      color="primary"
      (click)="openCreateProjectFormDialog()"
    >
      <mat-icon>add</mat-icon>
      New Project
    </button>
  </div>
  <div class="projects-container">
    <div *ngIf="projects.length === 0">
      <p>No projects created yet.</p>
    </div>

    <div *ngFor="let project of projects">
      <app-project-list-item-card
        [project]="project"
        (deleteProject)="onDeleteProject($event)"
      ></app-project-list-item-card>
    </div>
  </div>
</div>
