<div class="main-container">
  <div class="dialog-header">
    <h1 mat-dialog-title>Tool Selector</h1>
  </div>
  <div class="dialog-content">
    <div class="tools-list">
      <div
        class="tool-item"
        *ngFor="let tool of tools"
        (click)="toggleSelection(tool)"
        [class.selected]="isSelected(tool)"
        tabindex="0"
      >
        <div class="tool-name">{{ tool.name }}</div>
        <mat-icon *ngIf="isSelected(tool)" class="selected-icon"
          >check_circle</mat-icon
        >
      </div>
    </div>
    <div class="selected-tools">
      <div class="selected-tools-list">
        <div class="selected-tool-item" *ngFor="let tool of selectedToolsArray">
          <div class="tool-name">{{ tool.name }}</div>
          <mat-icon
            class="remove-icon"
            (click)="toggleSelection(tool); $event.stopPropagation()"
            >remove_circle</mat-icon
          >
        </div>
      </div>
    </div>
  </div>
  <div class="dialog-actions">
    <button mat-stroked-button (click)="onCancel()">Cancel</button>
    <button mat-flat-button color="primary" (click)="onConfirm()">
      Confirm
    </button>
  </div>
</div>
