interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://docs.google.com/spreadsheets/d/1HXOAB7SLhnO9gYWFQj4l-vna9_80QoeJIp_kCEouFY0/gviz/tq?tqx=out:csv&sheet=Agents
  response:
    body:
      string: '"Agent Role","Goal","Backstory","Tools","Allow delegation","Verbose","Memory","Max_iter","Model
        Name","Temperature","Function Calling Model","Model provider","FC Model provider","FC
        Model provider","","","","","","","","","",""

        "Youtube Video Searcher","Give the best search result","You are an experienced
        expert AI agent that analyze youtube content and gives best matching result.","youtube_video_search_tool","TRUE","TRUE","TRUE","15","gpt-4-turbo-preview","0.1","gpt-4-turbo-preview","openai","openai","huggingface","","","","","","","","","",""'
    headers:
      Content-Disposition:
      - attachment; filename="data.csv"; filename*=UTF-8''data.csv
      Content-Type:
      - text/csv; charset=utf-8
      x-l2-request-path:
      - l2-managed-6
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://docs.google.com/spreadsheets/d/1HXOAB7SLhnO9gYWFQj4l-vna9_80QoeJIp_kCEouFY0/gviz/tq?tqx=out:csv&sheet=Tasks
  response:
    body:
      string: '"Task Name","Agent","Instructions","Expected Output"

        "Search a video from youtube","Youtube Video Searcher","Find the top 5 best
        video of cats on youtube and give links to them","5 urls to videos with cats"'
    headers:
      Content-Disposition:
      - attachment; filename="data.csv"; filename*=UTF-8''data.csv
      Content-Type:
      - text/csv; charset=utf-8
      x-l2-request-path:
      - l2-managed-6
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://docs.google.com/spreadsheets/d/1HXOAB7SLhnO9gYWFQj4l-vna9_80QoeJIp_kCEouFY0/gviz/tq?tqx=out:csv&sheet=Crew
  response:
    body:
      string: '"Team Name","Assignment","Process","Verbose","Memory","Embedding model","Embedding
        Provider","Manager LLM","t","num_ctx","Manager LLM Provider","",""

        "Youtube Analyzer","Find best cat videos!","sequential","TRUE","TRUE","text-embedding-3-small","openai","gpt-4-turbo-preview","0.10","0","openai","",""'
    headers:
      Content-Disposition:
      - attachment; filename="data.csv"; filename*=UTF-8''data.csv
      Content-Type:
      - text/csv; charset=utf-8
      x-l2-request-path:
      - l2-managed-6
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://docs.google.com/spreadsheets/d/1HXOAB7SLhnO9gYWFQj4l-vna9_80QoeJIp_kCEouFY0/gviz/tq?tqx=out:csv&sheet=Models
  response:
    body:
      string: '"Model","Comments","Context size (local only)","Provider","base_url","Deployment","Embedings","Default
        for Tools","Default for Agent","Information","","",""

        "gpt-3.5-turbo","DO NOT INSERT A ROW ABOVE","0","openai","None","None","FALSE","FALSE","FALSE","Do
        n[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://docs.google.com/spreadsheets/d/1HXOAB7SLhnO9gYWFQj4l-vna9_80QoeJIp_kCEouFY0/gviz/tq?tqx=out:csv&sheet=Tools
  response:
    body:
      string: "\"Tool\",\"On\",\"Description\",\"Module\",\"Class\",\"Args\",\"Requires
        Model\",\"Model\",\"Provider\",\"Embedding Model\",\"Provider\"\n\"Field for
        tool name that will be given to agents. No spaces allowed.\",\"FALSE\",\"You
        can add Local tools, Crewai tool[...]
- request:
    body: '{"batch": [{"properties": {"class": "App", "version": "0.1.113", "language":
      "python", "pid": 5876, "$lib": "posthog-python", "$lib_version": "3.6.0", "$geoip_disable":
      true}, "timestamp": "2024-08-29T11:37:05.342632+00:00", "context": {}, "distinct_id":
      "aeb406af-0f7d-4ca8-a484-ee266f655a35", "event": "init"}], "historical_migration":
      false, "sentAt": "2024-08-29T11:37:05.861414+00:00", "api_key": "phc_PHQDA5KwztijnSojsxJ2c1DuJd52QCzJzT2xnSGvjN2"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://us.i.posthog.com/batch/
  response:
    body:
      string: '{"status":"Ok"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
