:host * {
  transition: all 100ms ease-in-out;
  // color: white !important;
}

.sidenav-header {
  padding-top: 1.5rem;
  text-align: center;

  > img {
    display: inline-block;
    border-radius: 100%;
    object-fit: cover;
    margin-bottom: 10px;
  }

  > mat-icon {
    font-size: 40px;
    color: rgb(255, 255, 255) !important;
  }

  .header-text {
    opacity: 0;
    height: 0px;

    > h2 {
      margin: 0;
      font-size: 1rem;
      line-height: 1.5rem;
    }

    > p {
      margin: 0;
      font-size: 0.8rem;
    }
  }
}

.show-header-text {
  opacity: 1 !important;
  height: 3rem !important;
}

.menu-item {
  border-left: 5px solid;
  border-left-color: transparent;
}
.selected-menu-item {
  border-left: 5px solid;
  border-left-color: #3f51b5;

  mat-icon {
    color: #3f51b5;
  }

  span {
    color: #3f51b5;
    font-weight: 500;
  }
}
mat-nav-list {
  > a {
    border-radius: 0;
  }

  > a span {
    display: block;
    margin-top: 2px;
  }
  > a mat-icon {
    margin-left: 1.3rem;
  }
}
