<div class="main-container">
  <!-- header -->
  <div class="header">
    <div class="header-title-wrapper" [title]="project.name">
      <p>{{ project.name }}</p>

      <!-- <span class="project-status">(running) </span> -->
    </div>
    <div class="settings-icon">
      <mat-icon>settings</mat-icon>

      <div class="settings-menu">
        <div class="real-menu">
          <ul>
            <li (click)="viewRunResults()">View Run Results</li>
            <li (click)="copyProject()">Copy</li>
            <li class="delete-option" (click)="onDeleteProject()">Delete</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <!-- content -->
  <div class="content">
    <p class="assignment" [title]="project.assignment">
      {{ project.assignment }}
    </p>
  </div>

  <!-- actions -->
  <div class="actions">
    <div class="run-settings">
      <button (click)="manageAgentsAndTasks()" mat-stroked-button>Open</button>
    </div>
    <ng-container *ngIf="runSessionId == null; else sessionActiveTemplate">
      <button class="run-button" mat-flat-button (click)="startRun()">
        Run
      </button>
    </ng-container>
  </div>

  <ng-template #sessionActiveTemplate>
    <button class="stop-button" mat-flat-button (click)="stopRunSession()">
      Stop
    </button>
    <button class="view-button" mat-flat-button (click)="viewRunSession()">
      View
    </button>
  </ng-template>

  <ng-template #viewButtonTemplate>
    <button class="view-button" mat-flat-button (click)="viewRunSession()">
      View
    </button>
  </ng-template>
</div>
<!-- Confirmation Dialog Template -->
<ng-template #confirmRunDialog>
  <div class="dialog-container">
    <h2 mat-dialog-title>Confirm Run</h2>
    <mat-dialog-content>
      Are you sure you want to run your crew?
    </mat-dialog-content>
    <mat-dialog-actions>
      <button mat-button class="no-button" [mat-dialog-close]="false">
        No
      </button>
      <button mat-button class="yes-button" [mat-dialog-close]="true">
        Yes
      </button>
    </mat-dialog-actions>
  </div>
</ng-template>
