<div class="main-container">
  <!-- header -->
  <div class="header">
    <div class="header-title">
      {{ project.name }}
      <!-- <span class="project-status">(running) </span> -->
    </div>

    <div class="close-icon">
      <mat-icon (click)="onDeleteProject()">close</mat-icon>
    </div>
  </div>

  <!-- content -->
  <div class="content">
    <div class="assignment">{{ project.assignment }}</div>
  </div>

  <!-- actions -->
  <div class="actions">
    <div class="run-settings">
      <button
        class="manageProject"
        (click)="manageAgentsAndTasks()"
        mat-stroked-button
      >
        Manage Project
      </button>
      <button mat-icon-button class="settings-icon">
        <mat-icon>settings</mat-icon>
      </button>
    </div>
    <button class="run" mat-raised-button (click)="startRun()">Run new</button>
  </div>
</div>
<!-- Confirmation Dialog Template -->
<ng-template #confirmRunDialog>
  <div class="dialog-container">
    <h2 mat-dialog-title>Confirm Run</h2>
    <mat-dialog-content>
      Are you sure you want to run your crew?
    </mat-dialog-content>
    <mat-dialog-actions>
      <button mat-button class="no-button" [mat-dialog-close]="false">
        No
      </button>
      <button mat-button class="yes-button" [mat-dialog-close]="true">
        Yes
      </button>
    </mat-dialog-actions>
  </div>
</ng-template>
