<div class="main-wrapper">
  <div class="header">
    <button mat-icon-button>
      <mat-icon>arrow_back</mat-icon>
    </button>
    <span class="title">Deprecated !!!</span>
  </div>

  <div class="content-wrapper">
    <div class="sidebar">
      <ul class="nav-list">
        <li
          class="nav-item"
          routerLink="/settings/system"
          routerLinkActive="active"
          #routerActiveSystem="routerLinkActive"
          tabindex="0"
          role="link"
          (keydown.enter)="navigate('/settings/system')"
          (keydown.space)="navigate('/settings/system')"
        >
          <mat-icon
            class="nav-icon"
            [fontSet]="
              routerActiveSystem.isActive
                ? 'material-icons'
                : 'material-icons-outlined'
            "
          >
            settings
          </mat-icon>
          System
        </li>
        <li
          class="nav-item"
          routerLink="/settings/environment-keys"
          routerLinkActive="active"
          #routerActiveEnv="routerLinkActive"
          tabindex="0"
          role="link"
          (keydown.enter)="navigate('/settings/environment-keys')"
          (keydown.space)="navigate('/settings/environment-keys')"
        >
          <mat-icon
            class="nav-icon"
            [fontSet]="
              routerActiveEnv.isActive
                ? 'material-icons'
                : 'material-icons-outlined'
            "
          >
            vpn_key
          </mat-icon>
          Environment Keys
        </li>
        <li
          class="nav-item"
          routerLink="/settings/staff"
          routerLinkActive="active"
          #routerActiveStaff="routerLinkActive"
          tabindex="0"
          role="link"
          (keydown.enter)="navigate('/settings/staff')"
          (keydown.space)="navigate('/settings/staff')"
        >
          <mat-icon
            class="nav-icon"
            [fontSet]="
              routerActiveStaff.isActive
                ? 'material-icons'
                : 'material-icons-outlined'
            "
          >
            group
          </mat-icon>
          Staff
        </li>
        <li
          class="nav-item"
          routerLink="/settings/project"
          routerLinkActive="active"
          #routerActiveProject="routerLinkActive"
          tabindex="0"
          role="link"
          (keydown.enter)="navigate('/settings/project')"
          (keydown.space)="navigate('/settings/project')"
        >
          <mat-icon
            class="nav-icon"
            [fontSet]="
              routerActiveProject.isActive
                ? 'material-icons'
                : 'material-icons-outlined'
            "
          >
            folder
          </mat-icon>
          Project
        </li>
        <!-- <li
          class="nav-item"
          routerLink="/settings/tools"
          routerLinkActive="active"
          #routerActiveTools="routerLinkActive"
          tabindex="0"
          role="link"
          (keydown.enter)="navigate('/settings/tools')"
          (keydown.space)="navigate('/settings/tools')"
        >
          <mat-icon
            class="nav-icon"
            [fontSet]="
              routerActiveTools.isActive
                ? 'material-icons'
                : 'material-icons-outlined'
            "
          >
            build
          </mat-icon>
          Tools
        </li>
        <li
          class="nav-item"
          routerLink="/settings/models"
          routerLinkActive="active"
          #routerActiveModels="routerLinkActive"
          tabindex="0"
          role="link"
          (keydown.enter)="navigate('/settings/models')"
          (keydown.space)="navigate('/settings/models')"
        >
          <mat-icon
            class="nav-icon"
            [fontSet]="
              routerActiveModels.isActive
                ? 'material-icons'
                : 'material-icons-outlined'
            "
          >
            schema
          </mat-icon>
          Models
        </li> -->
      </ul>
    </div>

    <div class="settings-content">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
