<div class="alltasks-table-main-container">
  <div class="alltasks-table-header-container">
    <div class="alltasks-table-title-search">
      <span class="page-title">Tasks template</span>
      <input type="text" placeholder="Search tasks..." />
    </div>
  </div>

  <div class="alltasks-table-content-wrapper">
    <!-- Loading Indicator -->
    <div *ngIf="isLoading" class="alltasks-table-loading-container">
      <p>Loading tasks, please wait...</p>
    </div>

    <!-- Handsontable -->
    <div #allTasksTableContainer id="allTasksTableContainer"></div>
  </div>
</div>
