<div class="main-container">
  <app-run-chat-header [chatStatus]="chatStatus"></app-run-chat-header>

  <div class="run-chat-content">
    <!-- Check if messages are available -->
    <ng-container *ngIf="messages.length > 0; else loading">
      <div
        *ngFor="let message of messages"
        class="message-container"
        [ngClass]="{
          'crew-message': message.message_from === 'crew',
          'user-message': message.message_from === 'user'
        }"
      >
        <div class="message-bubble">
          <!-- Use [innerHTML] to display the HTML content -->
          <span [innerHTML]="message.htmlText"></span>
        </div>
        <div class="message-timestamp">
          {{ message.created_at | date : "shortTime" }}
        </div>
      </div>
    </ng-container>
    <!-- Loading template -->

    <ng-template #loading>
      <div class="loading-container">
        <div class="custom-loader"></div>
        <p>Generating...</p>
      </div>
    </ng-template>
  </div>

  <div class="run-chat-bottom">
    <textarea class="chat-input" placeholder="Type your message"></textarea>
    <button class="chat-send-btn">Send</button>
  </div>
</div>
