<div class="main-container">
  <app-run-chat-header [chatStatus]="chatStatus"></app-run-chat-header>

  <div class="run-chat-content">
    <!-- Display messages if available -->
    <ng-container *ngIf="messages.length > 0; else noMessages">
      <div
        *ngFor="let message of messages"
        class="message-container"
        [ngClass]="{
          'crew-message': message.message_from === 'crew',
          'user-message': message.message_from === 'user'
        }"
      >
        <div class="message-bubble">
          <!-- Render the segments -->
          <ng-container *ngFor="let segment of message.segments">
            <span [ngClass]="segment.cssClass">{{ segment.text }}</span>
          </ng-container>
        </div>
        <div class="message-timestamp">
          {{ message.created_at | date : "shortTime" }}
        </div>
      </div>
    </ng-container>

    <ng-template #noMessages>
      <ng-container *ngIf="chatStatus === 'running'; else sessionStopped">
        <div class="loading-container">
          <div class="custom-loader"></div>
          <p>Generating...</p>
        </div>
      </ng-container>

      <ng-template #sessionStopped>
        <p class="no-messages">No messages to display.</p>
      </ng-template>
    </ng-template>
  </div>

  <div class="run-chat-bottom">
    <textarea class="chat-input" placeholder="Type your message"></textarea>
    <button class="chat-send-btn">Send</button>
  </div>
</div>
