.page-container {
  width: 100%;
  height: 100%;
  padding: 1rem;
}
.content {
  width: 100%;
  height: 100%;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
}

.project-details-section {
  height: 100%;
  width: 15%;
  min-width: 200px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.project-details-header {
  width: 100%;
  height: 70px;
  padding: 15px 20px;
  // border-bottom: 1px solid #000000;
  .project-header {
    margin-top: 3px;
    color: #000000;
    font-size: 1.5rem;
    font-weight: 500;
  }
}

.project-details-content {
  width: 100%;
  height: 100%;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  .project-details-label {
    font-size: 1.1rem;
    font-weight: 500;
    color: #3f51b5; /* Accent color */
    margin-bottom: 0.3rem;
  }

  .details-divider {
    margin: 0.2rem 0;
    border: none;
    border-top: 1px solid #e0e0e0;
  }

  .project-details-text {
    color: #333333;
    font-size: 1rem;
    line-height: 1.5;
  }
}

.run-section {
  width: 100%;
  height: 10%;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.run {
  width: 80px;
}

.crew-runs-results {
  height: 50%;
  width: 100%;

  .crew-run-results-header {
    font-size: 1.2rem;
    color: #3f51b5;
    font-weight: 500;
    margin: 0;
  }
}
.view {
  width: auto; /* You can set the width as needed */
  white-space: nowrap; /* Prevent text from wrapping */
  overflow: hidden; /* Hide overflowed text */
  text-overflow: ellipsis; /* Display ellipsis when text is truncated */
  display: block; /* Ensure the element takes up its own space */
  text-align: center; /* Center the text */
}

//Agents Section
.agents-tasks-container {
  width: 85%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.agents-section,
.tasks-section {
  height: 50%;
  width: 100%;
  border-left: 1px solid #ccc;
  display: flex;
  flex-direction: column;

  .header-container {
    display: flex;
    padding: 15px 20px;
    align-items: center;
    justify-content: space-between;
    background-color: #3f51b5;
    .header {
      color: white;
      font-size: 1.5rem;
      font-weight: 200;
    }
  }

  .tasks-section-content {
    padding: 0;
    width: 100%;
    height: 100%;
  }
}

.loading-tasks {
  padding: 15px 20px;
}

.no-agents {
  padding: 15px 20px;
}

//diloag run

/* Agents Section */
.agents-section {
  width: 100%;
  border-left: 1px solid #ccc;
  display: flex;
  flex-direction: column;

  .header-container {
    display: flex;
    padding: 15px 20px;
    align-items: center;
    justify-content: space-between;
    background-color: #3f51b5;

    .header {
      color: white;
      font-size: 1.5rem;
      font-weight: 200;
    }
  }

  .agents-header-container {
    border-top-right-radius: 10px;
  }

  .agents-section-content {
    width: 100%;
    /* Optional: Set a max-height if needed */
    /* max-height: 500px; */
    overflow-y: auto;
  }
}

/* Agents List */
.agents-list {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;
}

/* Agent Item */
.agent-item {
  border: 1px solid #000000;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 3rem;
}

/* Agent Item Header */
.agent-item-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Agent Role and Goal with Ellipsis in Header */
.agent-arrow-role-container {
  display: flex;
  align-items: center;

  overflow: hidden; /* Prevents overflow */
}

.agent-role {
  font-weight: bold;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; /* Show ellipsis for overflowed text */
  max-width: 10rem; /* Adjust as needed for layout */
}

/* Expand Icon */
.agent-expand {
  margin-right: 1rem;
  cursor: pointer;
  transition: transform 0.2s ease-in-out, color 0.2s ease-in-out;

  &:hover {
    transform: scale(1.2);
    color: #3f51b5;
  }
}

/* Goal Section */
.agent-goal-llm-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  max-width: 70%;
  overflow: hidden;
}

.agent-goal {
  color: #000000;
  overflow: hidden; /* Hide overflowed content */
  white-space: nowrap; /* Prevent text from wrapping to a new line */
  text-overflow: ellipsis; /* Display ellipsis when text overflows */
}

/* Agent Details */
.agent-details {
  display: flex;
  gap: 1rem;
  padding: 0.5rem 1rem;
  border-top: 1px solid #ccc;
  background-color: #f9f9f9;
  max-height: 200px; /* Adjust this value to the desired max height */
  overflow-y: auto; /* Enable vertical scrolling */
}

.agent-detail-item {
  margin-bottom: 0.5rem;
}

.agent-detail-item strong {
  color: #3f51b5;
}
