<div class="page-container">
  <div class="content">
    <div class="project-details-section">
      <div *ngIf="projectLoaded" class="project-details-header">
        <p class="project-header">{{ project.name }}</p>
      </div>
      <div class="project-details-content">
        <div class="project-details-item">
          <div class="project-details-label">Assignment</div>
          <hr class="details-divider" />
          <div class="project-details-text">{{ project.assignment }}</div>
        </div>
        <div class="project-details-item">
          <div class="project-details-label">Description</div>
          <hr class="details-divider" />
          <div class="project-details-text">{{ project.description }}</div>
        </div>
        <div class="crew-runs-results">
          <p class="crew-run-results-header">Crew Run Results:</p>
        </div>
      </div>
      <div class="run-section">
        <ng-container *ngIf="projectLoaded; else loading">
          <button mat-flat-button class="run" (click)="startRun()">Run</button>
        </ng-container>
        <ng-template #loading>
          <p>Loading project details...</p>
        </ng-template>
      </div>
    </div>

    <div class="agents-tasks-container">
      <div class="agents-section">
        <div class="header-container agents-header-container">
          <div class="header">Agents</div>
          <button mat-raised-button color="primary" (click)="openAgentsModal()">
            Add from Staff
          </button>
        </div>

        <div class="agents-section-content">
          <ng-container *ngIf="isDataLoaded; else loadingAgents">
            <ng-container *ngIf="agents.length > 0; else noAgents">
              <div class="agents-list">
                <div *ngFor="let agent of agents">
                  <div class="agent-item">
                    <div class="agent-item-header">
                      <div class="agent-arrow-role-container">
                        <mat-icon
                          class="agent-expand"
                          (click)="toggleAgentDetails(agent.id)"
                        >
                          {{
                            expandedAgents[agent.id]
                              ? "expand_less"
                              : "expand_more"
                          }}
                        </mat-icon>
                        <span class="agent-role">{{ agent.role }}</span>
                      </div>
                      <div class="agent-goal-llm-section">
                        <span class="agent-goal">{{ agent.goal }}</span>
                      </div>
                    </div>
                    <!-- Expanded Agent Details -->
                  </div>
                  <div class="agent-details" *ngIf="expandedAgents[agent.id]">
                    <div class="agent-detail-item">
                      <strong>Role:</strong> {{ agent.role }}
                    </div>
                    <div class="agent-detail-item">
                      <strong>Goal:</strong> {{ agent.goal }}
                    </div>
                    <div class="agent-detail-item">
                      <strong>Backstory:</strong> {{ agent.backstory }}
                    </div>
                    <div class="agent-detail-item">
                      <strong>Allow Delegation:</strong>
                      {{ agent.allow_delegation ? "Yes" : "No" }}
                    </div>
                    <div class="agent-detail-item">
                      <strong>Memory:</strong> {{ agent.memory ? "Yes" : "No" }}
                    </div>
                    <div class="agent-detail-item">
                      <strong>Max Iterations:</strong> {{ agent.max_iter }}
                    </div>
                    <div class="agent-detail-item">
                      <strong>Tools:</strong> {{ agent.tools.join(", ") }}
                    </div>
                    <div
                      class="agent-detail-item"
                      *ngIf="agent.llm_model !== null"
                    >
                      <strong>LLM Model:</strong> {{ agent.llm_model }}
                    </div>
                    <div
                      class="agent-detail-item"
                      *ngIf="agent.fcm_llm_model !== null"
                    >
                      <strong>FCM LLM Model:</strong> {{ agent.fcm_llm_model }}
                    </div>
                    <div
                      class="agent-detail-item"
                      *ngIf="agent.llm_config !== null"
                    >
                      <strong>LLM Config:</strong> {{ agent.llm_config }}
                    </div>
                    <div
                      class="agent-detail-item"
                      *ngIf="agent.fcm_llm_config !== null"
                    >
                      <strong>FCM LLM Config:</strong>
                      {{ agent.fcm_llm_config }}
                    </div>
                  </div>
                </div>
              </div>
            </ng-container>

            <ng-template #noAgents>
              <div class="no-agents">
                <p>No agents assigned</p>
              </div>
            </ng-template>
          </ng-container>

          <ng-template #loadingAgents>
            <div class="no-agents">
              <p>Loading agents...</p>
            </div>
          </ng-template>
        </div>
      </div>

      <div class="tasks-section">
        <div class="header-container">
          <div class="header">Tasks</div>
          <button
            mat-raised-button
            color="primary"
            (click)="openCreateTaskDialog()"
          >
            Add Task
          </button>
        </div>

        <p class="loading-tasks" *ngIf="!isDataLoaded">Loading tasks...</p>
        <div *ngIf="isDataLoaded" class="tasks-section-content">
          <app-project-tasks-table
            [tasks]="tasks"
            [agents]="agents"
            [projectId]="project.id"
            (taskCreated)="onTaskCreated($event)"
          ></app-project-tasks-table>
        </div>
      </div>
    </div>
  </div>
</div>

<!--RUN POPUP -->
<ng-template #confirmRunDialog>
  <div class="dialog-container">
    <h2 mat-dialog-title>Confirm Run</h2>
    <mat-dialog-content>
      Are you sure you want to run your crew?
    </mat-dialog-content>
    <mat-dialog-actions>
      <button mat-button class="no-button" [mat-dialog-close]="false">
        No
      </button>
      <button mat-button class="yes-button" [mat-dialog-close]="true">
        Yes
      </button>
    </mat-dialog-actions>
  </div>
</ng-template>

<!--STOP POPUP -->
<ng-template #confirmStopDialog>
  <div class="dialog-container">
    <h2 mat-dialog-title>Confirm Stop</h2>
    <mat-dialog-content>
      Are you sure you want to stop the crew from running?
    </mat-dialog-content>
    <mat-dialog-actions>
      <button mat-button class="no-button" [mat-dialog-close]="false">
        No
      </button>
      <button mat-button class="yes-button" [mat-dialog-close]="true">
        Yes
      </button>
    </mat-dialog-actions>
  </div>
</ng-template>
