<div class="page-container">
  <div class="content">
    <div class="project-details-section">
      <div *ngIf="projectLoaded" class="project-details-header">
        <p class="project-header">{{ project.name }}</p>
      </div>
      <div class="project-details-content">
        <div class="crew-runs-results">
          <p class="crew-run-results-header">Crew Run Results:</p>
        </div>
      </div>
      <div class="run-section">
        <!-- Conditionally render buttons based on sessionStatus -->
        <ng-container *ngIf="projectLoaded; else loading">
          <!-- Show "Run" button if sessionStatus is 'static' -->
          <button mat-flat-button class="run" (click)="startRun()">Run</button>

          <!-- Show "Stop" and "View Run Page" buttons if sessionStatus is 'running' -->
          <!-- <ng-container *ngIf="project.sessionStatus === 'running'">
            <button mat-flat-button class="stop" (click)="stopRun()">
              Stop
            </button>
            <button mat-stroked-button class="view" (click)="viewRunPage()">
              View Run Page
            </button>
          </ng-container> -->

          <!-- Show only "View Run Page" button if sessionStatus is 'finished' -->
          <!-- <ng-container *ngIf="project.sessionStatus === 'finished'">
            <button mat-stroked-button class="view" (click)="viewRunPage()">
              View Run Page
            </button>
          </ng-container> -->
        </ng-container>

        <!-- Loading state when project is not loaded yet -->
        <ng-template #loading>
          <p>Loading project details...</p>
        </ng-template>
      </div>
    </div>

    <div class="agents-tasks-container">
      <div class="agents-section">
        <div class="header-container agents-header-container">
          <div class="header">Agents</div>
          <!-- <button mat-raised-button color="primary" (click)="openAgentsModal()">
            Use from Staff
          </button> -->
        </div>

        <div class="agents-section-content">
          <ng-container *ngIf="isDataLoaded; else loadingAgents">
            <ng-container *ngIf="agents.length > 0; else noAgents">
              <div class="agents-list">
                <div class="agent-item" *ngFor="let agent of agents">
                  <div class="agent-arrow-role-container">
                    <mat-icon class="agent-expand">expand_more</mat-icon>

                    <span class="agent-role">{{ agent.role }}</span>
                  </div>
                  <div class="agent-goal-llm-section">
                    <span class="agent-goal">{{ agent.goal }}</span>
                    <div class="agent-llm-container">
                      <span class="agent-llm">{{ agent.llm_model }}</span>
                    </div>
                  </div>
                </div>
              </div>
            </ng-container>

            <ng-template #noAgents>
              <div class="no-agents">
                <p>No agents assigned</p>
              </div>
            </ng-template>
          </ng-container>

          <ng-template #loadingAgents>
            <div class="no-agents">
              <p>Loading agents...</p>
            </div>
          </ng-template>
        </div>
      </div>

      <div class="tasks-section">
        <div class="header-container">
          <div class="header">Tasks</div>
          <button
            mat-raised-button
            color="primary"
            (click)="openCreateTaskDialog()"
          >
            Add Task
          </button>
        </div>

        <p class="loading-tasks" *ngIf="!isDataLoaded">Loading tasks...</p>
        <div *ngIf="isDataLoaded" class="tasks-section-content">
          <app-project-tasks-table
            [tasksTableData]="tasks"
            [agentsData]="agents"
            [variables]="project.variables"
            [projectId]="project.id"
          ></app-project-tasks-table>
        </div>
      </div>
    </div>
  </div>
</div>

<!--RUN POPUP -->
<ng-template #confirmRunDialog>
  <div class="dialog-container">
    <h2 mat-dialog-title>Confirm Run</h2>
    <mat-dialog-content>
      Are you sure you want to run your crew?
    </mat-dialog-content>
    <mat-dialog-actions>
      <button mat-button class="no-button" [mat-dialog-close]="false">
        No
      </button>
      <button mat-button class="yes-button" [mat-dialog-close]="true">
        Yes
      </button>
    </mat-dialog-actions>
  </div>
</ng-template>

<!--STOP POPUP -->
<ng-template #confirmStopDialog>
  <div class="dialog-container">
    <h2 mat-dialog-title>Confirm Stop</h2>
    <mat-dialog-content>
      Are you sure you want to stop the crew from running?
    </mat-dialog-content>
    <mat-dialog-actions>
      <button mat-button class="no-button" [mat-dialog-close]="false">
        No
      </button>
      <button mat-button class="yes-button" [mat-dialog-close]="true">
        Yes
      </button>
    </mat-dialog-actions>
  </div>
</ng-template>
